/*method 1: external css part 3*/
.external-css{
  color: #038c7f; /*teal text*/
  background-color: #01403a; /*dark teal backround*/
}

/*resetting some default styles using multiple selectors separated by commas*/
body, h1, h2, p, ul, li, a{
  margin: 0; /*removing default margin*/
  padding: 0; /*removing default padding*/
  font-family: Arial, Helvetica, sans-serif; /*setting default font*/
}

/*html element selector*/
body{
  background-color: #012626; /*dark teal background*/
}

h1{
  color: #038c7f;
  font-size: 2em; /*2x the default size*/
  margin-bottom: 1em; /*adding space below heading*/
}

h2{
  font-size: 1.5em;
  color: #027368;
}

/*styling the paragraphs*/
p{
  font-size: 16px; /*16px is the default*/
  color: #7f8c8d;
  margin-bottom: 12px;
}

/*styling link in the paragraphs*/
p a{
  color: #f39c12;
  text-decoration: none;
}

/*styling unordered lists*/
ul{
  list-style-type: none; /*removing the bullet points*/
  margin-left: 20px; /*indenting the list*/
  margin-bottom: 12px; 
}

ul li{
  margin-bottom: 5px;
  color: #7f8c8d;
}

/*styling lists in a div*/
div ul{
  list-style-type: square;
}

/*general styling using a class*/
.feature-card{
  border: 2px solid #7f8c8d;
  padding: 20px; /*adding space inside card*/
  margin: 20px; /*adding space outside card*/
  background-color: #f9f9f9;
}

.feature-card h3{
  font-size: 20px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.feature-card p{
  margin-bottom: 10px;
  color: #7f8c8d;
}

/*specific styling using an id*/
#special-feature{
  background-color: #fde3a7;
  border-color: #f39c12;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}